
if(error && error.length) { %>
    <div class="alert alert-danger alert-dismissable fade show" role="alert">
        <%= error %>
        <button id="fail" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" style="margin-left:3em;float:right"></button>
    </div>
<% } %>