<div class="footer-head-div">
    <div class="footer-clean">
        <hr><br>
        <footer>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-4 col-md-3 item">
                        <h3>What's new</h3>
                        <ul>
                            <li><a href="#">Windows 11</a></li>
                            <li><a href="#">Microsoft 365</a></li>
                            <li><a href="#">Surface Pro X</a></li>
                            <li><a href="#">Surface Pro 7</a></li>
                            <li><a href="#">Surface Laptop 3</a></li>
                            <li><a href="#">Windows 10 apps</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Enterprise</h3>
                        <ul>
                            <li><a href="#">Azure</a></li>
                            <li><a href="#">App Source</a></li>
                            <li><a href="#">Automotive</a></li>
                            <li><a href="#">Government</a></li>
                            <li><a href="#">Healthcare</a></li>
                            <li><a href="#">Manufacturing</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Company</h3>
                        <ul>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">About Microsoft</a></li>
                            <li><a href="#">Company News</a></li>
                            <li><a href="#">Investors</a></li>
                            <li><a href="#">Security</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 item social">
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                        <p class="copyright">Microsoft © 2021</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>

</body>

</html>