<nav class="nav flex-column vert-nav d-none d-sm-flex d-md-flex position-relative h-100">

  <a class="nav-link link-icons " data-bs-toggle="tooltip" data-bs-placement="top" title="Home" href="/" target="_blank">
    <i class="fas fa-home" style="margin-top: 1em;"></i>
  </a>
  
  <a class="nav-link link-icons " data-bs-toggle="tooltip" data-bs-placement="top" title="Feed" href="/feed" target="_blank">
    <i class="fas fa-rss" style="margin-top: 0.5em;"></i>
  </a>
  
  <a class="nav-link link-icons" data-bs-toggle="tooltip" data-bs-placement="right" title="Conversations" href="/meet-conversations" target="_blank">
    <i class="fas fa-comments" style="margin-top: 0.5em;"></i>
  </a>

</nav>