<nav class="nav flex-column vert-nav d-none d-sm-flex d-md-flex position-absolute h-100" style="background-color:black">

  <a class="nav-link link-icons active " data-bs-toggle="tooltip" data-bs-placement="top" title="Home" href="/" target="_blank">
    <i class="fas fa-2x fa-home" style="margin-top: 1em;"></i>
  </a>
  
  <a class="nav-link link-icons active " data-bs-toggle="tooltip" data-bs-placement="top" title="Feed" href="/feed" target="_blank">
    <i class="fas fa-2x fa-rss" style="margin-top: 0.5em;"></i>
  </a>
  
  <a class="nav-link link-icons" data-bs-toggle="tooltip" data-bs-placement="right" title="Chat" href="/meet-conversations" target="_blank">
    <i class="fas fa-2x fa-comments" style="margin-top: 0.5em;"></i>
  </a>

  <a class="nav-link link-icons" data-bs-toggle="tooltip" data-bs-placement="right" title="Calendar" href="#">
    <i class="far fa-2x fa-calendar-alt" style="margin-top: 0.5em;" onclick="showCalendar()"></i>
  </a>

  <a class="nav-link link-icons" data-bs-toggle="tooltip" data-bs-placement="right" title="More Options" href="#">
    <i class="fas fa-2x fa-ellipsis-h" style="margin-top:30px;"></i>
  </a>

</nav>