<nav class="nav flex-column vert-nav d-none d-sm-flex d-md-flex">
    <a class="nav-link link-icons active " href="#"><i class="fas fa-2x fa-bell" style="margin-top: 30px;"></i></a>
    <a class="nav-link link-icons" href="#"><i class="fas fa-2x fa-comments" style="margin-top: 10px;"></i></a>
    <a class="nav-link link-icons" href="#">
    <i class="far fa-2x fa-calendar-alt" style="margin-top: 10px;" onclick="showCalendar()"></i>
  </a>
    <a class="nav-link link-icons" href="#"><i class="fas fa-2x fa-phone-alt" style="margin-top: 10px;"></i></a>
    <a class="nav-link link-icons" href="#"><i class="fas fa-2x fa-ellipsis-h" style="margin-top:30px;"></i></i></a>
  </nav>