<%- include('partials/header') %>

<title>
    Explore || MS TEAMS
</title>

<link rel="stylesheet" type="text/css" href="explore.css">
<script>
    
</script>
</head>
<body>
    <%- include('partials/navbar') %>
    <%- include('partials/flash_success') %>
    <div class="homeScreen">
        <div class="accessOptions">
            <p>
                <span class="heading">MICROSOFT TEAMS </span> <br>

                <span class="description" style="color: black">
                    Meet , Chat , Call and <br>
                    Collaborate in just one place
                </span>            
            </p>

            <span class="buttons">
                <button type="button" class="btn btn-outline" onClick="location.href='/room'">
                    <i class="fas fa-video"></i> New meeting </button>
                <input type="required" id="link" placeholder="Enter the meeting link" onfocus="showJoin()"">
                <button type="button" id="join" class="btn btn-outline" onClick="location.href=document.getElementById('link').value">Join</button>
            </span>

        </div>

        <div class="homeImage">
            <img src="MS_gif.gif" class="img-fluid">
        </div>
    </div>
    <br><br>
    <div class="home-bottom">
        <span class="heading">Microsoft Teams is for everyone </span> <br><br>
        <span class="description">
            Whether it’s chat, calls, or video, anyone can engage at any time, bringing everyone closer.<br>
            Your docs, photos, videos, chat history, and meeting notes are always there, so it’s easier to work together.<br>
            Set up your team’s space with all the apps you need so you can stay in just one place instead of jumping around.
        </span>
    </div>

    <script>
        function showJoin() {
            $("#join").show();
        }

        function removeJoin() {
            $("#join").hide();
        }

        
    </script>

<%- include('partials/footer') %>