<%- include('partials/header') %>
<title>HOME || MS TEAMS</title>
<link rel="stylesheet" href="homePage.css" type="text/css">
</head>
<body>
    <%- include('partials/navbar') %>

    <div class="homeScreen">
        <div class="accessOptions">
            <p>
                <span style="font-weight: bold;font-size:3vw;
                 font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',
                  Geneva, Verdana, sans-serif">MICROSOFT TEAMS </span> <br>

                <span style="font-size: 2vw; color: black">
                    Meet , Chat , Call and <br>
                    Collaborate in just one place
                </span>            
            </p>

            <span class="buttons">
                <button type="button" class="btn btn-outline" onClick="location.href='/register'">Signup for free</button><br>
                <button type="button" class="btn btn-outline" onClick="location.href='/login'">Signin</button>
            </span>

        </div>

        <div class="homeImage">
            <img src="homeImage.jpg" class="img-fluid">
        </div>
    </div>

    <div class="home-bottom">
        <h1>HI I am THE HOME BOTTOM</h1>
    </div>

<%- include('partials/footer') %>