<%- include('partials/header') %>
<title>HOME || MS TEAMS</title>
<link rel="stylesheet" href="homePage.css" type="text/css">

</head>
<body>
    <%- include('partials/navbar') %>

    <div class="homeScreen">
        <div class="accessOptions">
            <p>
                <span class="heading">MICROSOFT TEAMS </span> <br>

                <span class="description" style="color: black">
                    Meet , Chat , Call and <br>
                    Collaborate in just one place
                </span>            
            </p>

            <span class="buttons">
                <button type="button" class="btn btn-outline" onClick="location.href='/register'">Signup for free</button><br>
                <button type="button" class="btn btn-outline" onClick="location.href='/login'">Signin</button>
            </span>

        </div>

        <div class="homeImage">
            <img src="homeImage.jpg" class="img-fluid">
        </div>
    </div>
    <br><br>
    <div class="home-bottom">
        <span class="heading">Microsoft Teams is for everyone </span> <br><br>
        <span class="description">
            Whether it’s chat, calls, or video, anyone can engage at any time, bringing everyone closer.<br>
            Your docs, photos, videos, chat history, and meeting notes are always there, so it’s easier to work together.<br>
            Set up your team’s space with all the apps you need so you can stay in just one place instead of jumping around.
        </span>
    </div>

</body>
</html>

<%- include('partials/footer') %>