<%- include('partials/header') %>

<title>Meet || MS Teams</title>

<script>
  const ROOM_ID = "<%= roomId %>"
  const currentUser = "<%= currentUser.name %>"
</script>

<link rel="stylesheet" href="room.css" type="text/css">

</head>

<body>
  <div id="screen">
    <%- include('partials/leftIcons') %>

    <div id="video-grid"></div>

     <!-- Chat Section -->

    <div class="main__right" style="display:none">
      <div class="main__header">
          <h6>Chat <a style="float:right;margin-right: 1em;" onclick="toggleChat()"><i class="fas fa-times"></i></a></h6>
      </div>
      <div class="main__chat_window">
          <ul class="messages">

          </ul>

      </div>
      <hr>
      <div class="main__message_container">
          <input id="chat_message" type="text" placeholder="Type">
      </div>
    </div>

        <!-- <div class="main__right" style="display:flex">
      <div class="main__header">
          <h6>Participants <a style="float:right;margin-right: 1em;" onclick="toggleParticipants()"><i class="fas fa-times"></i></a></h6>
      </div>
      <div class="main__chat_window">
          <ul class="participants">
              <li>Suman Saurav</li>
          </ul>

      </div>
      <hr>
      <div class="main__message_container">
          <input id="chat_message" type="text" placeholder="Invite participants" disabled>
      </div>
    </div> -->

  </div>
  
  <div id="vidActions" class="btn-group" role="group" aria-label="Button group with nested dropdown">
    <button type="button" id="mute-mic" ><i class="fas fa-microphone"></i></button>
    <button type="button" id="mute-vid" ><i class="fas fa-video"></i></button>
    <button type="button" id="show-chat" onclick="toggleChat()"><i class="far fa-comment-dots"></i></button>   
    <!-- <button type="button" id="btnStart"><i class="fas fa-play"></i></button>
    <button type="button" id="btnStop" ><i class="fas fa-stop"></i></button> -->
    <button type="button" id="share-screen" ><i class="fas fa-desktop"></i></button>
    <button type="button" onclick=invite()><i class="fas fa-share-alt"></i></button>
    <button id="pipButtonElement"><i class="far fa-images"></i></button>
    <!-- <video id="vid" controls></video> -->
  <!-- <video id="vid2" controls></video> -->
  
    <div class="btn-group" role="group">
      <button id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-ellipsis-v"></i>
      </button>
      <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <a class="dropdown-item" href="#">Dropdown link</a>
        <a class="dropdown-item" href="#">Dropdown link</a>
      </div>
    </div>
  </div>

<script defer src="script.js"></script>
<script defer src="recordMeeting.js"></script>


<!-- GOOGLE CALENDAR -->

<iframe style="display: none" id="calendar" src="https://calendar.google.com/calendar/embed?height=300&amp;wkst=1&amp;
bgcolor=%23ffffff&amp;ctz=Asia%2FKolkata&amp;src=c3VtYW5tZXBsMDJAZ21haWwuY29t&amp;
src=a2c0cDNvMTcya29icDY5bjYwajUxODZoODRAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;
src=Y2xhc3Nyb29tMTE0NTk4NDc4MjM3Njg1MDE3MjgzQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&amp;
src=cDByNXZ1dmo1azBoc2hrNzdmNjU1djF0azZub2o2NGxAaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;
src=Y2xhc3Nyb29tMTE2NTUxOTEwNzIwNzI4NDMxNzc2QGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&amp;
src=Y2xhc3Nyb29tMTA5MzAzMjA0MDY5Mzc1NjE4NzczQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&amp;
src=Y2xhc3Nyb29tMTE3NjQzMjg3NzM5OTE1MDIzMzM0QGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&amp;
src=Y2xhc3Nyb29tMTA4MDA4MDM2ODc0MzA4MTY4ODQ1QGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&amp;
src=Y2xhc3Nyb29tMTE3NzI3NDI5NDY0ODQyNzMzMDQ0QGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&amp;
color=%23039BE5&amp;color=%23D50000&amp;color=%23137333&amp;color=%23795548&amp;color=%23137333&amp;
color=%23202124&amp;color=%230047a8&amp;color=%23174ea6&amp;
color=%230047a8" style="border:solid 1px #777" width="300" height="300" frameborder="0" scrolling="no">
</iframe>

</body>
</html>