.post-container{
    width:80%;
    margin: 3em auto;
    border: 2px solid black;
    padding:2em;
}

.img-div{
    margin-top:2em;
    height:30em;
}

.post-img{
    width:100%;  
    height:100%;
    border-radius: 10px;
    margin:0 auto;
    object-fit: contain;
}

@media screen and (max-width:620px) {
    .post-container{
        width:100%;
        padding:0.5em;
    }
}