body{ 
    margin:0;
    padding: 0;
    background-color: beige;
}

.homeScreen{
    width:100%;
    display:flex;
    flex-direction: row;
    background-color:white;
}

.accessOptions{
    width:50%;
    background-color:white;
    color:#4b53bc
}

p{
    padding: 3em;
}

.buttons{
    padding: 3em;
    display:flex;
    flex-direction:column;
    /* margin-left: 20%; */
    width: 50%;
    font-size:1vw;
}

.btn{
    border:1px solid #4b53bc;
}
.btn:hover{ 
    background-color: #4b53bc;
    color:white;
    box-shadow: 0 0 0.8333em rgba(0, 0, 0, 0.4);
}

.homeImage{
    width:50%;
}

.home-bottom{
    height:10em;
    background-color:#4b53bc;
    color:white;
    text-align:center;
    padding:3em;
}