body{
    background-color:rgb(53, 51, 51);
  }

    
  #screen{
    width: 100%;
    height: 90vh;
    margin: 0;
    display:flex;
    /* background-color:green; */
  }

  #video-grid {
    width:100%;
    display:flex;
    flex-direction: row;
    height: auto;
    margin: 0 auto;
    flex-wrap: wrap;
    /* background-color:pink; */
    /* object-fit:contain */
  }

  /* @media{} */
  video {
    object-fit: contain;
    /* object-fit: cover; */
    width: 50%;
    margin : 0 auto;
    /* flex-grow: 1; */
    /* flex-basis: 0; */
    padding:5px;
    border-radius: 20px;
    /* background-color:yellow; */
  }

  .link-icons{
    color:white;
    opacity: 0.3
  }
  .link-icons:hover{
    color:white;
    opacity: 1;
  }

  #vidActions{
    display:flex;    
    width: 100%;
    background-color: black;
    height:10vh;
    flex-direction: row;
    justify-content: center;
    margin:0 auto;
  }

  #vidActions button{
    background-color:black;
      font-size:1.3em;
      border: none;
      padding:10px;
      color:white;
  }
  
  #vidActions button i:hover{
    transform: scale(1.3);
  }

  #vid2{
    height:10px;
    width:10px;
  }

  .main__right {
    /* flex:0.2; */
    background-color: white;
    border-left: 1px solid #4b53bc;
    display: flex;
    flex-direction: column;
}
  .main__header {
    padding-top: 5px;
    color: white;
    text-align: center;
    background-color:#4b53bc;
}
  .main__chat_window {
    flex-grow: 1;
    overflow-x: auto;
}

.messages {
    color: black;
    list-style: none;
}

.main__message_container {
  padding:0em 1em 2em 1em;
    display: flex;
}

.participant_container{
  display: flex;
  padding-left: 1em;
  padding-bottom: 1.5em;
}

.main__message_container input {
    flex-grow: 1;
    background-color: white;
    border: none;
    color: black;
}

#chat_message{
  border-width: 0;
  border:none
}

#name{
  color: #4b53bc
}

.participant_window {
  flex-grow: 1;
  overflow-x: auto;
}

.participant_container div {
  flex-grow: 1;
  background-color: white;
  border: none;
  color: black;
}

#invitePeople{
  border-width: 0;
  border:none
}

ul{
  list-style: none;
}

#invitePeople::placeholder{
  color: #4b53bc;
  padding:1em
}