<%- include('../partials/header') %>

  <title>User Chats || MS Teams</title>

  <link rel="stylesheet" href="/stylesheet/chat/chats.css" type="text/css">

  <script defer src="/scripts/chat/chat.js"></script>
  <script>
    let userId = "<%= userid %>"
  </script>

  </head>

  <body>
    <%- include('../partials/navbar') %>

      <div class="container">
        <div class="messaging">
          <div class="inbox_msg">
            <div class="inbox_people">
              <div class="headind_srch">
                <div class="recent_heading">
                  <h4>Recent</h4>
                </div>
                <div id="newConvoBox">
                  <input id="friendId" type="text" placeholder="Enter your friends Id">
                  <button type="button" class="btn btn-primary" onclick="joinNewPersonalChatModel()">
                    Create </button>
                </div>
                <div id="createBtn" class="srch_bar">
                  <div class="stylish-input-group">
                    <i class="far fa-edit" onclick="showNewConvoBox()"></i>
                  </div>
                </div>
              </div>
              <div id="people" class="inbox_chat">

              </div>
            </div>
            <div class="initial-bg">

            </div>
            <div class="mesgs">
              <div id="messageHead">
                <i id="back" class="fas fa-arrow-circle-left" onclick="showPeople()"></i>
                <div id="friendName" style="color:red;"></div>
                <div><i class="fas fa-phone-alt" style="margin-right:0.5em;padding:0.5em"></i></div>
                <div><i class="fas fa-video" style="margin-right:1em;padding:0.5em"></i></div>
              </div>
              <div id="chats" class="msg_history">
                <div class="incoming_msg">
                  <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png"
                      alt="sunil"> </div>
                  <div class="received_msg">
                    <div class="received_withd_msg">
                      <p>Test which is a new approach to have all
                        solutions</p>
                      <span class="time_date_in"> 11:01 AM | June 9</span>
                    </div>
                  </div>
                </div>
                <div class="outgoing_msg">
                  <div class="sent_msg">
                    <p>Test which is a new approach to have all
                      solutions</p>
                    <span class="time_date_out"> 11:01 AM | June 9</span>
                  </div>
                </div>
                <div class="incoming_msg">
                  <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png"
                      alt="sunil"> </div>
                  <div class="received_msg">
                    <div class="received_withd_msg">
                      <p>Test, which is a new approach to have</p>
                      <span class="time_date_in"> 11:01 AM | Yesterday</span>
                    </div>
                  </div>
                </div>
                <div class="outgoing_msg">
                  <div class="sent_msg">
                    <p>Apollo University, Delhi, India Test</p>
                    <span class="time_date_out"> 11:01 AM | Today</span>
                  </div>
                </div>
                <div class="incoming_msg">
                  <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png"
                      alt="sunil"> </div>
                  <div class="received_msg">
                    <div class="received_withd_msg">
                      <p>We work directly with our designers and suppliers,
                        and sell direct to you, which means quality, exclusive
                        products, at a price anyone can afford.</p>
                      <span class="time_date_in"> 11:01 AM | Today</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="type_msg">
                <div class="input_msg_write">
                  <input type="text" class="write_msg" placeholder="Type a message" />
                  <button class="msg_send_btn" type="button"><i class="fa fa-paper-plane"
                      aria-hidden="true"></i></button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
  </body>

  </html>